/** 
* Description: Core theme for Lydia
*/

/**
* Structure
*/
html{
	background-color:rgba(0,0,255,0.1);
}
body{
   background-color:#FFFFFF;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
   display: block;
   margin-left: 80px;
   margin-right: 80px;
}

/* set width and center page */
header#top, div.content, div.debug, div.temp, footer#bottom{
	margin:0 auto;
	width:1050px;
	
}

div.debug
{
	padding: 25px;
	border: 1px solid #000000;
	overflow: hidden;
}

div.temp
{
	padding: 25px;
	overflow: hidden;
}

div.content
{
	padding: 25px;
	border: 1px solid #000000;
}

div#login-menu
{
	float: right;
	margin-right: 10px;	
}

#header,
#main,
{
   margin:0 auto;
   width:1050px;
   background-color:#fff;
   padding: 1em;
   overflow-x: hidden;
}
div#footer{
	
	padding-bottom:20px; /*Padding below footer*/
	padding-top: 10px;
	background-color: rgba(0,0,255,0.1);
	border-top:1px solid #E6E6E6;
	margin-top: 20px;
}
h1,h2
{
	border-bottom: solid 2px rgba(249,21,10,0.65);	
}
hr
{
	border-color: rgba(249,21,10,0.65)
}


/* navigation menu
-------------------------------------------------------- 
*/

nav.navmenu {

	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.1em;
	font-weight: bold;
	
	padding: 5px 8px;
	margin-top: 10px;
	
	font-size: medium;
	color: red;
	border-bottom:5px solid rgba(249,21,10,0.65);
	 
}

nav.navmenu a {
	padding:8px 8px;
	text-decoration:none;
	border:2px solid transparent;
	color:#999999;
}

/*Nav menu item settings on mouse hover*/
nav.navmenu a:hover {
	color: black;
	
}

header#above{
	font-family: sans-serif;
	border-bottom:1px solid #E6E6E6;
	margin-bottom:4px;
	color:#000;
}

a:link {color:#000000;}      /* unvisited link */
a:visited {color:#000000;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */ 

a.login
{
	font-family: "verdana", sans-serif;
	font-size: 12px;
   	text-decoration:none;
}

img.gravatar
{
	
	position: relative;
	top: 5px;	
}

/**
 * User feedback message wrappers.
 */
.error, .alert, .warning, .notice, .success, .info { 
padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { margin:0 auto;
	width:1050px; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice, .warning {margin:0 auto;
	width:1050px; background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       {margin:0 auto;
	width:1050px; background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          {margin:0 auto;
	width:1050px; background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a {margin:0 auto;
	width:1050px; color: #8a1f11; }
.notice a, .warning a {margin:0 auto;
	width:1050px; color: #514721; }
.success a         {margin:0 auto;
	width:1050px; color: #264409; }
.info a            {margin:0 auto;
	width:1050px; color: #205791; }
	
.validation-failed{margin:0 auto;
	width:1050px;border:2px solid red;}
.validation-message{margin:0 auto;
	width:1050px;color:red;font-size:smaller;}
